### Pandas

In [36]:
# import modules
import pandas as pd

In [59]:
# import demo files
%time
pdemo_df = pd.read_parquet('../data/chp3_dfile.parquet')
print(pdemo_df.shape)
pdemo_df.head()

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 6.2 µs
(335484, 13)

,removed,log_index,transaction_index,transaction_hash,block_hash,block_number,address,data,topic_0,topic_1,topic_2,topic_3,block_timestamp
0,False,0,0,0xdd6df5c66ca36a2fc7eb5aa53ca0fda5e752f8f5a02f...,0x99a194c70a1da06d9b814168c839d960afd65588c93f...,12738509,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2,0x00000000000000000000000000000000000000000000...,0x8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2...,0x00000000000000000000000049e38025ce640e8b0d70...,0x000000000000000000000000e592427a0aece92de3ed...,None,1625097609
1,False,1,0,0xdd6df5c66ca36a2fc7eb5aa53ca0fda5e752f8f5a02f...,0x99a194c70a1da06d9b814168c839d960afd65588c93f...,12738509,0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599,0x00000000000000000000000000000000000000000000...,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x0000000000000000000000004585fe77225b41b697c9...,0x00000000000000000000000049e38025ce640e8b0d70...,None,1625097609
2,False,2,0,0xdd6df5c66ca36a2fc7eb5aa53ca0fda5e752f8f5a02f...,0x99a194c70a1da06d9b814168c839d960afd65588c93f...,12738509,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2,0x00000000000000000000000000000000000000000000...,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x00000000000000000000000049e38025ce640e8b0d70...,0x0000000000000000000000004585fe77225b41b697c9...,None,1625097609
3,False,3,0,0xdd6df5c66ca36a2fc7eb5aa53ca0fda5e752f8f5a02f...,0x99a194c70a1da06d9b814168c839d960afd65588c93f...,12738509,0x4585FE77225b41b697C938B018E2Ac67Ac5a20c0,0xffffffffffffffffffffffffffffffffffffffffffff...,0xc42079f94a6350d7e6235f29174924f928cc2ac818eb...,0x000000000000000000000000e592427a0aece92de3ed...,0x00000000000000000000000049e38025ce640e8b0d70...,None,1625097609
4,False,0,1,0x106dc23545f27274895c5dbb0df934cbdb8b73bc6b56...,0x99a194c70a1da06d9b814168c839d960afd65588c93f...,12738509,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0x00000000000000000000000000000000000000000000...,0x8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2...,0x000000000000000000000000a97810f352914703041b...,0x000000000000000000000000e592427a0aece92de3ed...,None,1625097609

In [48]:
# aggregate data by block number
%time
pdemo_df.groupby('block_number').count()

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 6.91 µs

,removed,log_index,transaction_index,transaction_hash,block_hash,address,data,topic_0,topic_1,topic_2,topic_3,block_timestamp
block_number,,,,,,,,,,,,
12738509,147,147,147,147,147,147,147,147,128,118,13,147
12738510,383,383,383,383,383,383,383,383,349,289,46,383
12738511,383,383,383,383,383,383,383,383,354,284,33,383
12738512,389,389,389,389,389,389,389,389,349,313,25,389
12738513,425,425,425,425,425,425,425,425,380,332,43,425

In [56]:
# return Series of unique index logs
%time
pd.Series(pdemo_df['log_index'].unique())

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.96 µs

0        0
1        1
2        2
3        3
4        4
      ...
593    593
594    594
595    595
596    596
597    597
Length: 598, dtype: int32

## Dask

In [42]:
# import modules
import dask.dataframe as dd

In [44]:
# import demo data
%time
ddemo_df = dd.read_parquet('../data/chp3_dfile.parquet')
print(ddemo_df.shape)
ddemo_df.head()

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 6.91 µs
(Delayed('int-c855a889-ef18-4e83-8e90-6d69d061d742'), 13)

,removed,log_index,transaction_index,transaction_hash,block_hash,block_number,address,data,topic_0,topic_1,topic_2,topic_3,block_timestamp
0,False,0,0,0xdd6df5c66ca36a2fc7eb5aa53ca0fda5e752f8f5a02f...,0x99a194c70a1da06d9b814168c839d960afd65588c93f...,12738509,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2,0x00000000000000000000000000000000000000000000...,0x8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2...,0x00000000000000000000000049e38025ce640e8b0d70...,0x000000000000000000000000e592427a0aece92de3ed...,None,1625097609
1,False,1,0,0xdd6df5c66ca36a2fc7eb5aa53ca0fda5e752f8f5a02f...,0x99a194c70a1da06d9b814168c839d960afd65588c93f...,12738509,0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599,0x00000000000000000000000000000000000000000000...,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x0000000000000000000000004585fe77225b41b697c9...,0x00000000000000000000000049e38025ce640e8b0d70...,None,1625097609
2,False,2,0,0xdd6df5c66ca36a2fc7eb5aa53ca0fda5e752f8f5a02f...,0x99a194c70a1da06d9b814168c839d960afd65588c93f...,12738509,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2,0x00000000000000000000000000000000000000000000...,0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4...,0x00000000000000000000000049e38025ce640e8b0d70...,0x0000000000000000000000004585fe77225b41b697c9...,None,1625097609
3,False,3,0,0xdd6df5c66ca36a2fc7eb5aa53ca0fda5e752f8f5a02f...,0x99a194c70a1da06d9b814168c839d960afd65588c93f...,12738509,0x4585FE77225b41b697C938B018E2Ac67Ac5a20c0,0xffffffffffffffffffffffffffffffffffffffffffff...,0xc42079f94a6350d7e6235f29174924f928cc2ac818eb...,0x000000000000000000000000e592427a0aece92de3ed...,0x00000000000000000000000049e38025ce640e8b0d70...,None,1625097609
4,False,0,1,0x106dc23545f27274895c5dbb0df934cbdb8b73bc6b56...,0x99a194c70a1da06d9b814168c839d960afd65588c93f...,12738509,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,0x00000000000000000000000000000000000000000000...,0x8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2...,0x000000000000000000000000a97810f352914703041b...,0x000000000000000000000000e592427a0aece92de3ed...,None,1625097609

In [50]:
# aggregate data by block number
%time
ddemo_df.groupby('block_number').count().compute()

CPU times: user 3 µs, sys: 2 µs, total: 5 µs
Wall time: 6.91 µs

,removed,log_index,transaction_index,transaction_hash,block_hash,address,data,topic_0,topic_1,topic_2,topic_3,block_timestamp
block_number,,,,,,,,,,,,
12738509,147,147,147,147,147,147,147,147,128,118,13,147
12738510,383,383,383,383,383,383,383,383,349,289,46,383
12738511,383,383,383,383,383,383,383,383,354,284,33,383
12738512,389,389,389,389,389,389,389,389,349,313,25,389
12738513,425,425,425,425,425,425,425,425,380,332,43,425
...,...,...,...,...,...,...,...,...,...,...,...,...
12739504,364,364,364,364,364,364,364,364,315,279,10,364
12739505,387,387,387,387,387,387,387,387,344,291,22,387
12739506,307,307,307,307,307,307,307,307,267,232,33,307
12739507,367,367,367,367,367,367,367,367,327,276,24,367
12739508,392,392,392,392,392,392,392,392,342,292,8,392

In [57]:
# return Series of unique index logs
%time
ddemo_df['log_index'].unique().compute()

CPU times: user 1 µs, sys: 1 µs, total: 2 µs
Wall time: 4.77 µs

0        0
1        1
2        2
3        3
4        4
      ...
593    593
594    594
595    595
596    596
597    597
Name: log_index, Length: 598, dtype: int32